numpy~=1.22.1
scipy~=1.7.3
scikit-image~=0.19.3
pandas~=1.4.2
pyvista~=0.33.2
matplotlib~=3.5.1
ray~=1.9.2
screeninfo~=0.8
setuptools~=60.7.1
fire~=0.4.0
zlib~=1.2.12
msgpack~=1.0.3
requests~=2.26.0
pyopt~=0.0.0
tables~=3.7.0

osqp
torch~=1.10.2
frankaemika07~=0.1.0
cython~=0.29.27
sympy~=1.9
torchviz~=0.0.2
ortools~=9.4.1874
pymesh
einops~=0.6.0
numba~=0.56.4