numpy~=1.24.1
scipy~=1.9.3
scikit-image~=0.19.3
cython~=0.29.32
pandas~=1.5.2
sympy~=1.11.1
einops~=0.6.0
zlib~=1.2.12

pyvista~=0.37.0
matplotlib~=3.6.2

ray~=1.9.2
setuptools~=65.6.3

fire~=0.4.0
msgpack~=1.0.4
requests~=2.28.1

pyopt~=0.0.0
ortools~=9.5.2237
pymesh

torch~=1.13.0
torchviz~=0.0.2
